resource filter=lfs diff=lfs merge=lfs -text
BuildPaclet.nb filter=lfs diff=lfs merge=lfs -text
QTAIM filter=lfs diff=lfs merge=lfs -text
QTAIM-*.paclet filter=lfs diff=lfs merge=lfs -text
resource/**/[!.]* filter=lfs diff=lfs merge=lfs -text
QTAIM/**/[!.]* filter=lfs diff=lfs merge=lfs -text
